In [1]:
h=30
w=6
area=h*w
print('area of rectangle',area)

area of rectangle 180

In [ ]:
#simple interst

In [2]:
pa=int(input('enter the principle amount'))
time=float(input('enter the time period'))
rate=float(input('enter the rate of interest'))
si=(pa*time*rate)/100
print(f'simple interest is= {si}')

enter the principle amount1000
enter the time period2.5
enter the rate of interest3
simple interest is= 75.0

In [4]:
noi=10
poi=5
gst=18
bill=(noi*poi)
gst_am=bill*gst/100
total_bill=bill+gst_am

print(total_bill)

59.0

In [6]:
pin=1234
upin=int(input('enter the upin'))
if pin==upin:
    print('press 1 for withdraw')
    print('press 2 for deposite')
    print('press 3 for check balance')
    print('press 4 for exit')
else:
    print('invaild pin')

enter the upin2354
invaild pin

In [7]:
n1=int(input('enter the 1st num'))
n2=int(input('enter the 2nd num'))
if n1>n2:
    print(f'{n1} is the greater no')
else:
    print(f'{n2} is the greater no')

enter the 1st num10
enter the 2nd num15
15 is the greater no

In [11]:
n=int(input('enter the num'))
if n%7==0:
    print('no is multiple of 7')
else:
    print('no is not multiple of 7')

enter the num15
no is not multiple of 7

In [13]:
n1=int(input('enter the 1st num'))
n2=int(input('enter the 2nd num'))
print('enter + for addition')
print('enter - for addition')
print('enter * for addition')
ch=input('enter your choice')
if ch=='+':
    print(f'{n1}+{n2}={n1+n2}')
elif ch=='-':
    print(f'{n1}-{n2}={n1-n2}')
elif ch=='*':
    print(f'{n1}*{n2}={n1*n2}')
else:
    print('invalid choice')

enter the 1st num10
enter the 2nd num5
enter + for addition
enter - for addition
enter * for addition
enter your choice*
10*5=50

In [13]:
pa=10000
upin=1234
pin=int(input('enter the user pin'))
if upin==pin:
    print('enter the choice of yours')
    print('press 1 for withdraw')
    print('press 2 for deposite')
    print('press 3 for check balance')
    print('press 4 for exit')
ch=input('enter your choice')
if ch=='1':
    wamt=int(input('enter the amount you want to withdraw'))
    if wamt<=pa and wamt%100==0 and wamt>=100:
        pa=pa-wamt
        print('witharaw amount is',wamt)
        print('balance amount is',pa)
    else:
        print('condition not satisfied')
elif ch=='2':
    damt=int(input('enter the amount you want to deposite'))
    if damt>=10 and wamt%100==0:
        pa=pa+damt
        print('deposite amount is',damt)
        print('balance amount is',pa)
    else:
        print('condition not satisfied')
elif ch=='3':
    print('balance amount is',pa)
elif ch=='4':
    exit(1)
    
else:
    print('invalid pin')

enter the user pin1234
enter the choice of yours
press 1 for withdraw
press 2 for deposite
press 3 for check balance
press 4 for exit
enter your choice4

In [17]:
i=2
k=1
while k<=10:
    print(i*k)
    k+=1

2
4
6
8
10
12
14
16
18
20

In [25]:
i=100
while i>=1:
    print(i,end=',')
    i-=1

100,99,98,97,96,95,94,93,92,91,90,89,88,87,86,85,84,83,82,81,80,79,78,77,76,75,74,73,72,71,70,69,68,67,66,65,64,63,62,61,60,59,58,57,56,55,54,53,52,51,50,49,48,47,46,45,44,43,42,41,40,39,38,37,36,35,34,33,32,31,30,29,28,27,26,25,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

In [27]:
i=699
while i<=899:
    if i%2==0:
        print(i,end=",")
    i+=1

700,702,704,706,708,710,712,714,716,718,720,722,724,726,728,730,732,734,736,738,740,742,744,746,748,750,752,754,756,758,760,762,764,766,768,770,772,774,776,778,780,782,784,786,788,790,792,794,796,798,800,802,804,806,808,810,812,814,816,818,820,822,824,826,828,830,832,834,836,838,840,842,844,846,848,850,852,854,856,858,860,862,864,866,868,870,872,874,876,878,880,882,884,886,888,890,892,894,896,898,

In [28]:
i=10
while i<=25:
    print(i**2,end=",")
    i+=1

100,121,144,169,196,225,256,289,324,361,400,441,484,529,576,625,

In [33]:
i=1100
while i<=3450:
    if i%5==0 and i%9==0:
        print(i,end=",")
    i+=1

1125,1170,1215,1260,1305,1350,1395,1440,1485,1530,1575,1620,1665,1710,1755,1800,1845,1890,1935,1980,2025,2070,2115,2160,2205,2250,2295,2340,2385,2430,2475,2520,2565,2610,2655,2700,2745,2790,2835,2880,2925,2970,3015,3060,3105,3150,3195,3240,3285,3330,3375,3420,

In [2]:
n=input('enter data')
while n!='exit':
    n=input('exit to terminate')
    print(n)

enter datad
exit to terminatef
f
exit to terminated
d
exit to terminated
d
exit to terminated
d
exit to terminateexit
exit

In [10]:
n=int(input('enter the number'))
i=1
fact=1
while i<=n:
    fact=fact*i
    i+=1
print(fact)

enter the number4
24

In [16]:
n=int(input('enter the number'))
i=2
flag=1
while i<n:
    if n%i==0:
        flag=0
        break
        
    i+=1
if flag==1:
    print(f'{n} is a prime no')
else:
    print(f'{n} is not a prime no')

enter the number21
21 is not a prime no

In [19]:
n=int(input('enter the no'))
for i in range(1,11):
    print(f'{n}*{i} ={n*i}')

enter the no4
4*1 =4
4*2 =8
4*3 =12
4*4 =16
4*5 =20
4*6 =24
4*7 =28
4*8 =32
4*9 =36
4*10 =40

In [23]:
for i in range(111,911):
    if i%11==0:
        print(i,end='\t')

121	132	143	154	165	176	187	198	209	220	231	242	253	264	275	286	297	308	319	330	341	352	363	374	385	396	407	418	429	440	451	462	473	484	495	506	517	528	539	550	561	572	583	594	605	616	627	638	649	660	671	682	693	704	715	726	737	748	759	770	781	792	803	814	825	836	847	858	869	880	891	902

In [ ]:
#list

In [2]:
l1=[]
l2=list()
print(type(l1))
print(type(l2))

<class 'list'>
<class 'list'>

In [5]:
l1=[10,20,30,45,55,82,75]
index=int(input('enter the index to get the value'))
value=l1[index]
print(value)

enter the index to get the value5
82

In [8]:
ind=int(input('enter the index to update the value'))
val=int(input('enter the new updated value'))
l1[ind]=val
print(l1)

enter the index to update the value5
enter the new updated value100
[82, 20, 30, 45, 55, 100, 75]

In [10]:
for i in range(7):
    print(f'at {i} index value {l1[i]}')

at 0 index value 82
at 1 index value 20
at 2 index value 30
at 3 index value 45
at 4 index value 55
at 5 index value 100
at 6 index value 75

In [11]:
for i in range(len(l1)):
    print(f'at {i} index value {l1[i]}')

at 0 index value 82
at 1 index value 20
at 2 index value 30
at 3 index value 45
at 4 index value 55
at 5 index value 100
at 6 index value 75

In [13]:
for item in l1:
    print(f'square of {item}={item**2}')

square of 82=6724
square of 20=400
square of 30=900
square of 45=2025
square of 55=3025
square of 100=10000
square of 75=5625

In [14]:
name=['gaurav','kamal']
sname=input('enter the sname')
name.append(sname)
print(name)

enter the snamevijay
['gaurav', 'kamal', 'vijay']

In [16]:
l2=[20,30,40,50]
index=int(input('enter the index'))
value=int(input('enter the value'))
l2.insert(index,value)
print(l2)

enter the index1
enter the value100
[20, 100, 30, 40, 50]

In [19]:
l=[]
ran=int(input('enter the range of the list'))
for i in range(ran):
    element=int(input('enter the element of the list'))
    l.append(element)
print(l)

enter the range of the list3
enter the element of the list10
enter the element of the list20
enter the element of the list30
[10, 20, 30]

In [29]:
t=[]
n=int(input('enter the no of cities'))
for i in range(n):
    v=int(input('enter the cities temp'))
    t.append(v)
print(t)
f=[]
for k in t:
    f1=(k*9/5)+32
    f.append(f1)
    print(f'temp of cities in fahrenheit={f}')

enter the no of cities3
enter the cities temp0
enter the cities temp80
enter the cities temp50
[0, 80, 50]
temp of cities in fahrenheit=[32.0]
temp of cities in fahrenheit=[32.0, 176.0]
temp of cities in fahrenheit=[32.0, 176.0, 122.0]

In [9]:
l=[10,20,30,40,50,60,10,80,10]
n=int(input('enter the element to count the frequency'))
m=l.count(n)
print(m)

enter the element to count the frequency150
0

In [12]:
l=[10,20,30,40,50,60,10,80,10]
l.clear()
print(l)

[]

In [17]:
l=[10,20,30,40,50,60,10,80,10]
n=int(input('enter the element to find the pos'))
if l.count(n)!=0:
    pos=l.index(n)
    print(pos)
else:
    print('element is not founf')

enter the element to find the pos150
element is not founf

In [28]:
l=[10,20,30,40,50,60,10,80,10]
l.pop()
print(l)

[10, 20, 30, 40, 50, 60, 10, 80]

In [29]:
l=[10,20,30,40,50,60,10,80,10]
l.pop(0)
print(l)

[20, 30, 40, 50, 60, 10, 80, 10]

In [34]:
l=[10,20,30,40,50,60,10,80,10]
n=int(input('enter the element you want to remove'))
l.remove(n)
print(l)

enter the element you want to remove10
[20, 30, 40, 50, 60, 10, 80, 10]

In [35]:
l=[10,20,30,40,50,60,10,80,10]
for i in range(len(l)):
    l.pop()
    print(l)

[10, 20, 30, 40, 50, 60, 10, 80]
[10, 20, 30, 40, 50, 60, 10]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50]
[10, 20, 30, 40]
[10, 20, 30]
[10, 20]
[10]
[]

In [37]:
l1=[5,10,15,20]
l2=[2,4,6,8]
l1.extend(l2)
print(l1)

[5, 10, 15, 20, 2, 4, 6, 8]

In [38]:
l1=[5,10,15,20]
l1.reverse()
print(l1)

[20, 15, 10, 5]

In [45]:
l1=[5,10,15,20]
l1.sort(reverse=False)
print(l1)

[5, 10, 15, 20]

In [51]:
l1=[5,10,15,20]
print(sum(l1))
print(max(l1))
print(min(l1))

50
20
5

In [54]:
l1=[5,10,15,20]
s=0
for i in l1:
    s+=i
print('sum of list is',s)

sum of list is 50

In [59]:
l1=[5,10,50,200,15,20]
s=0
for i in l1:
    if s<i:
        s=i
print('maximum value',s)

maximum value 200

In [70]:
l1=[5,10,50,200,15,20]
sqlist=[]
for i in l1:
    sqlist.append(i**2)
print(sqlist)

[25, 100, 2500, 40000, 225, 400]

In [65]:
l1=[5,10,50,200,15,20,10,20,50,200,15,10]
s=0
n=int(input('enter the element to find the occurance'))
for item in l1:
    if item==n:
        s+=1
print(f'occurance of {n}={s} times')

enter the element to find the occurance10
occurance of 10=3 times

In [77]:
l1=[5,10,50,200,15,20,10,20,50,200,15,10]
s=0
pos=int(input('enter the element to find its  position'))
for i in l1:
    if i==pos:
        print(s)
    s+=1

enter the element to find its  position10
1
6
11

In [78]:
l=[10,20,30,[100,200,300],50,60,[900,800,700,[11,222,300]]]

In [79]:
l[6][3][1]

222

# Tuple

In [1]:
t=()
print(type(t))

<class 'tuple'>

In [3]:
t=(5,)
print(type(t))

<class 'tuple'>

In [5]:
t=(10,20,30,40,80,90)
ind=int(input('enter the index to get the value'))
value=t[ind]
print(value)

enter the index to get the value2
30

In [6]:
print(t)

(10, 20, 30, 40, 80, 90)

In [9]:
t=(10,20,10,10,15,12,15,10)
n=int(input('enter the element to count the occurance'))
occ=t.count(n)
print(occ)

enter the element to count the occurance10
4

In [13]:
t=(10,20,10,10,15,12,15,10)
n=int(input('enter the value to get the index'))
v=t.index(n)
print(v)

enter the value to get the index10
0

In [ ]:
#packing and unpacking

In [16]:
t='gaurav','kamal','pankaj'
t

('gaurav', 'kamal', 'pankaj')

In [18]:
n1,n2,n3=t
print(n1)
print(n2)
print(n3)

gaurav
kamal
pankaj

In [21]:
l=[10,20,30]
s='gaurav'
print(tuple(s))
t=tuple(l)
print(t)

('g', 'a', 'u', 'r', 'a', 'v')
(10, 20, 30)

In [22]:
t=(10,20,30,40)
print(list(t))

[10, 20, 30, 40]

In [ ]:
n1=int(input('enter the 1st num'))
n2=int(input('enter the 1st num'))
n1=n1+n2
n2=n1-n2
n1=n1-n2

# string

In [1]:
s='Good Evening'
lw=s.lower()
up=s.upper()
sw=s.swapcase()
tl=s.title()
st=s.capitalize()
print(lw)
print(up)
print(sw)
print(tl)
print(st)

good evening
GOOD EVENING
gOOD eVENING
Good Evening
Good evening

In [7]:
s="good evening"
n=input('enter elemet to find index')
pos=s.index(n)
print(pos)

enter index to find elementg
0

In [9]:
s="good evening"
n=input('enter elemet to find index')
pos=s.find(n)
print(pos)

enter elemet to find indexm
-1

In [11]:
s="good evening"
n=input('enter elemet to find index')
if s.find(n)!=-1:
    pos=s.find(n)
    print(pos)
else:
    print('element not found')

enter elemet to find indexn
8

In [14]:
web='***www.staragile.com***'
sweb=web.strip('*')
print(sweb)

www.staragile.com

In [17]:
d={'k1':20,'k2':30,'k3':40,'k4':50}
n=input('enter any key to get value').strip()
value=d[n]
print(value)

enter any key to get value                  k2
30

In [19]:
email='gaurav007mehra@gmail.com'
data=email.split('@')
print(data)

['gaurav007mehra', 'gmail.com']

In [20]:
email='www.google.com'
data=email.split('.')
print(data)

['www', 'google', 'com']

In [21]:
data='google LLC is an American multinational technology company focusing on artificial intelligence, online advertising, search engine'
sp=data.split()
print(sp)

['google', 'LLC', 'is', 'an', 'American', 'multinational', 'technology', 'company', 'focusing', 'on', 'artificial', 'intelligence,', 'online', 'advertising,', 'search', 'engine']

In [24]:
print(len(sp))

16

In [26]:
s=['gaurav','gmail.com']
s1='@'
email=s1.join(s)
print(email)

gaurav@gmail.com

# dictionary

In [27]:
dmenu={'momo':40,'paneer tikka':100}
n=input('enter item to check the price')
price=dmenu[n]
print(price)

enter item to check the pricepaneer tikka
100

In [30]:
dmenu={'momo':40,'paneer tikka':100}
n=input('enter item to check the price')
price=dmenu.get(n)
print(price)

enter item to check the pricedoas
None

In [34]:
dmenu={'momo':40,'paneer tikka':100}
n=input('enter item to check the price')
if dmenu.get(n) !=None:
    price=dmenu.get(n)
    print(price)
else:
    print('item not found')

enter item to check the pricedosa
item not found

# function

In [1]:
#without parameter
def print_msg(): #declare
    print('hello')#defination
print_msg()#calling

hello

In [2]:
print_msg()

hello

In [4]:
def add():
    n1=int(input('enter the 1st num'))
    n2=int(input('enter the 1st num'))
    print(f'{n1}+{n2}={n1+n2}')
add()

enter the 1st num10
enter the 1st num20
10+20=30

In [5]:
def area():
    r=float(input('enter the radious'))
    pi=3.14
    print(f'area of circle is {pi*r**2}')
area()

enter the radious10
area of circle is 314.0

In [6]:
#function with parameter
def add(x,y):
    print('addition is',(x+y))


n1=int(input('enter the 1st num'))
n2=int(input('enter the 2nd num'))
add(n1,n2)

enter the 1st num10
enter the 2nd num20
addition is 30

In [8]:
def get_mail(username,domainname):
    mail=username+'@'+domainname
    print(mail)
    
    
un=input('enter the username')
dn=input('enter the domainname')
get_mail(un,dn)

enter the usernamegaurav
enter the domainnamegmail.com
gaurav@gmail.com

In [10]:
def even_odd(n):
    if n%2==0:
        print('even no')
    else:
        print('odd no')

num=int(input('enter the num'))
even_odd(num)

enter the num25
odd no

In [11]:
#function with return type
def add():
    n1=int(input('enter the 1st num'))
    n2=int(input('enter the 1st num'))
    s=n1+n2
    return s
res=add()
print('sum is ', res)

enter the 1st num100
enter the 1st num200
sum is  300

In [12]:
def area():
    r=float(input('enter the radious'))
    pi=3.14
    a=pi*r**2
    return a
res=area()
print('area of circle is ', res)

enter the radious10
area of circle is  314.0

In [15]:
def even_odd():
    n=int(input('ente the no'))
    if n%2==0:
        return 'even no'
    else:
        return 'odd no'


res=even_odd()
print(res)

ente the no15
odd no

In [18]:
def simple_interest():
    p=int(input('enter the principle amount'))
    r=float(input('enter the rate of interest'))
    t=float(input('enter the time period'))
    si=(p*r*t)/100
    return si


res=simple_interest()
print('simple interest is', res)

enter the principle amount1000
enter the rate of interest5
enter the time period2.5
simple interest is 125.0

In [25]:
def create_dictionary():
    dict={}
    kv_pairs=int(input('enter the key_values pairs'))
    for i in range(kv_pairs):
        k=input('enter keys')
        v=input('enter values')
        dict[k]=v
    return dict

def print_dictionary(dname):
    print('user dictionary is', dname)
                 
        
                 
res=create_dictionary()
print_dictionary(res)

enter the key_values pairs2
enter keysk1
enter values10
enter keysk2
enter values4.
user dictionary is {'k1': '10', 'k2': '4.'}

In [28]:
def factorial(n):
 
    if n==0:
        return 1
    elif n<0:
        return 'not allowed the factorial of negative no'
    else:
        return n*factorial(n-1)

num=int(input('enter the number'))
res=factorial(num)
print(res)

enter the number4
24

In [6]:
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
num=int(input('enter the value'))
res=factorial(num)
print(res)

enter the value5
120

In [20]:
def length_of_word(s):
    words=s.split()
    for word in words:
        print(len(word))

st=input('enter the string')
length_of_word(st)

enter the stringthis is a cat
4
2
1
3

In [21]:
list('this is a cat')

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'c', 'a', 't']

In [29]:

for i in range(1,6):
    for j in range(1,i+1):
        print('*',end='')
    print('\n')

*

**

***

****

*****

In [31]:

for i in range(1,6):
    for j in range(6-i):
        print('*',end='')
    print('\n')

*****

****

***

**

*

In [2]:
x=5
def print_value():
    global x
    x=x+1
    
print_value()
print(x)

6

In [6]:
pa=10000
def wa():
    global pa
    wamt=int(input('enter the withdraw amount'))
    pa=pa-wamt
    print(wamt)
def check_balance():
    print(pa)
wa()
check_balance()

enter the withdraw amount5555
5555
4445

In [7]:
#positional argument
def fn(x,y):
    print(x ,'and',y)
fn(5,6)

5 and 6

In [8]:
#keyword or named argument
def fn(x,y):
    print(x ,'---',y)
fn(y=5,x=6)

6 --- 5

In [11]:
def fn(fn,mn,ln):
    print(fn+mn+ln)

fn('gaurav',ln='mehra',mn='singh')

gauravsinghmehra

In [14]:
#default argument
def fn(x,y=0):
    print(x ,'and',y)
fn(5)

5 and 0

In [17]:
def fn(*v):
    print(v)
fn(5)
fn('gaurav')
fn(1,2,3,4,5)
fn('g','a','u','r','a','v')

(5,)
('gaurav',)
(1, 2, 3, 4, 5)
('g', 'a', 'u', 'r', 'a', 'v')

In [18]:
def fn(**v):
    print(v)
fn(x=5,y=10,z=25)

{'x': 5, 'y': 10, 'z': 25}

In [20]:
#recurssion
def count(n):
    if n<=10:
        print(n)
        n=n+1
        count (n)
count(1)

1
2
3
4
5
6
7
8
9
10

In [2]:
def table(n,i=1):
    if i<=10:
        print(n*i)
        i=i+1
        table (n,i)
n=int(input('enter the element'))
table(n)

enter the element5
5
10
15
20
25
30
35
40
45
50

In [13]:
def factorial(n):
    if n==0:
        return 1
    elif n<0:
        return 'not allowed the factorial of negative num'
    else:
        return n*factorial(n-1)
n=int(input('enter the element'))
factorial(n)

enter the element5

120

In [14]:
#lambda function
add=lambda x,y:print(f'{x}+{y}={x+y}')
add(5,10)

5+10=15

In [15]:
cube=lambda n:print(f'cube of {n}={n**3}')
n=int(input('enter the num'))
cube(n)

enter the num5
cube of 5=125

In [17]:
aot=lambda h,b:print(f'area of triangle ={0.5*h*b}')
h=int(input('enter the hight'))
b=int(input('enter the width'))
aot(h,b)

enter the hight10
enter the width10
area of triangle =50.0

In [21]:
mult=lambda n:'num is multiple of 100 ' if n%100==0 else 'is not multiple'
n=int(input('enter the num'))
mult(n)

enter the num5200

'num is multiple of 100 '

In [27]:
l=[]
n=int(input('enter the range'))
for i in range(n):
    e=int(input('enter the element'))
    l.append(e)
print(l)
evencheck=[]
for even in l:
    if even%2==0:
        evencheck.append(even)
print(evencheck)

enter the range5
enter the element100
enter the element15
enter the element25
enter the element120
enter the element5
[100, 15, 25, 120, 5]
[100, 120]

In [28]:
def evencheck(l):
    m=[]
    for n in l:
        if n%2==0:
            m.append(n)
    print(m)
evencheck([100, 15, 25, 120, 5])

[100, 120]

In [ ]:
##file handling

In [7]:
filename=input('enter the file name')
file=open(filename+'.txt','w')
data=input('enter the data to write in the file')
file.write(data)
file.flush()
file.close()

enter the file nameabc
enter the data to write in the filegaurav singh mehra

In [3]:
import os
print(os.getcwd())

C:\Users\asus\Untitled Folder 4

In [6]:
path='G:\\Titan spy\\my_folder\\'
filename=input('enter the file name')
ex=input('enter the extension of file')
file=open(path+filename+'.'+ex,'w')
data=input('enter the data to write in the file')
file.write(data)
file.flush()
file.close()

enter the file namenew_data
enter the extension of filetxt
enter the data to write in the filegaurav singh mehra

In [5]:
path='G:\\Titan spy\\my_folder\\'
name=input('enter the name')
accountno=input('enter the account no')
amount=input('enter the amount')
ex=input('enter the extension of file')
file=open(path+accountno+'.'+ex,'w')
data={'name':name,'accountno':accountno,'amount':amount}
file.write(str(data))
file.flush()
file.close()

enter the namenew_data
enter the account no1234
enter the amount1000
enter the extension of filetxt

# read mode

In [18]:
filename=input('enter the file name')
file=open(filename+'.txt','r')
data=file.read()
print('data from file')
print(data)
file.close()

enter the file nameabc
data from file
gaurav singh mehra

In [19]:
path='G:\\Titan spy\\my_folder\\'
filename=input('enter the file name')
file=open(path+filename+'.txt','r')
data=file.read()
print('data from file')
print(data)
file.close()

enter the file name123456789
data from file
{'name': 'gaurav', 'accountno': '123456789', 'amount': '1000'}

In [1]:
path='G:\\Titan spy\\my_folder\\'
filename=input('enter the file name')
file=open(path+filename+'.txt','r')
data=file.readline()
print('data from file')
print(data)
file.close()

enter the file name123456789
data from file
{'name': 'gaurav', 'accountno': '123456789', 'amount': '1000'}

In [7]:
path='G:\\Titan spy\\my_folder\\'
filename=input('enter the file name')
file=open(path+filename+'.txt','r')
data=file.readlines()
print('data from file')
print(data)
for datau in data:
    print(datau)
file.close()

enter the file namenew_data
data from file
['gaurav singh mehra']
gaurav singh mehra

In [10]:
#append
filename=input('enter the file name')
file=open(filename+'.txt','a')
data=input('enter the data to write in the file')
file.write(data)
file.flush()
file.close()

enter the file namemynewfile
enter the data to write in the file new data is still here

In [16]:
import os
path=path='G:\\Titan spy\\my_folder\\'
fo=input('enter the ddirectory name')
os.mkdir(fo)
print(f'directory {fo} is created')

enter the ddirectory namemydata
directory mydata is created

In [18]:
path='G:\\Titan spy\\my_folder\\'
file=os.listdir(path)
print(file)

['1234.txt', '123456789.txt', 'new_data.txt']

In [19]:
import os
fn=input('enter the file name')
os.mkdir(fn)

enter the file namefyfolder

In [40]:
import os
folder_name=input('enter the directory name')
file_name=input('enter the file name')
os.mkdir(folder_name)

enter the directory namemydir
enter the file namemyfile

In [50]:
parent=os.getcwd()
child=folder_name
path=os.path.join(parent,child)
print(path)

C:\Users\asus\Untitled Folder 4\mydir

In [51]:
file=open(path+'\\'+file_name+'.txt','w')
data=input('enter the data you want to write')
file.write(data)
file.flush()
file.close()

enter the data you want to writei am a good boy

In [28]:
path=os.getcwd()
print(path)

C:\Users\asus\Untitled Folder 4

In [27]:
filename=input('enter the file name')
file=open(filename+'.txt','r')
data=file.readlines()
print(data)
for word in data:
    sp=word.split()
    words=len(sp)
    print(words)
file.close()

enter the file namemynewfile
['new data new data is still here']
7